{% extends "base.html" %}

{% block title %}Contact Us - Nyeri Chai Farmers Association{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Contact Us</h1>
    
    <div class="text-center mt-4">
        <p>
            <strong>Our Offices:</strong><br>
            N.D.C.U Building, Ground Floor,<br>
            Nyeri Town, Gakere Road
        </p>
        <p>
            <strong>Phone Contact:</strong><br>
            +254723240428
        </p>
        <p>
            <strong>Email:</strong><br>
            <a href="mailto:info@nyerichai.co.ke">info@nyerichai.co.ke</a>
        </p>
        <a href="https://wa.me/+254707822687?text=Hello%20Nyeri%20Chai%20Farmers%20Association" class="btn btn-success">
            Send us a message on WhatsApp
        </a>
    </div>
</div>
{% endblock %}

